.reservar-sillas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

input[type="number"] {
  padding: 5px;
  margin: 0 10px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #0d6efd;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0b5ed7;
}

table {
  margin-top: 50px;
  border-collapse: collapse;
}

td {
  width: 50px;
  height: 50px;
  text-align: center
}
.reservar-sillas {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  input[type="number"] {
    padding: 5px;
    margin: 0 10px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    background-color: #0d6efd;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0b5ed7;
  }
  
  table {
    margin-top: 50px;
    border-collapse: collapse;
  }
  
  td {
    width: 50px;
    height: 50px;
    text-align: center
  }  